{
  "extends": ["airbnb-typescript", "plugin:prettier/recommended"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "warn",
    "import/prefer-default-export": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
