{
  "extends": ["airbnb-typescript", "plugin:prettier/recommended"],
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/no-array-index-key": "warn",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "setup-tests.ts",
          "cypress/**/*.ts",
          "**/*.test.ts",
          "**/*.stories.ts",
          "**/__tests__/**/*.ts",
          "**/__stories__/**/*.ts",
          "**/*.test.tsx",
          "**/*.stories.tsx",
          "**/__tests__/**/*.tsx",
          "**/__stories__/**/*.tsx"
        ]
      }
    ]
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
